extends layout

block content
  h1= title

  div#ysearch
    label Search Symbol:
    input#ysearchinput
    div#ysearchcontainer
    input#add(type="button", value="Add")
    input#clear(type="button", value="Clear")

  div#holder
    div#grass


  script(src='/javascripts/script.js')
