doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="//yui.yahooapis.com/3.5.1/build/cssbase/cssbase-min.css")
    script(src='//yui.yahooapis.com/3.5.1/build/yui/yui-min.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
  body
    block content